body {
   background-color: rgba(255, 196, 0, 0.836);
   -webkit-tap-highlight-color: transparent;
}

* {
   color: white;
   font-weight: 300;
   font-family: 'Lato', sans-serif;   
}

h1 {
   font-size: 40px;
   text-align: center;
   margin-bottom: 50px;
   
}

.btn {
   display: block;
   position: relative;
   margin: 0 auto;
   outline: none;
   border: none;
   background-color: rgb(255, 136, 0);
   padding: 25px 65px;
   font-size: 25px;
   font-weight: 100;
   text-transform: uppercase;
   border-radius: 25px;
   box-shadow: 0 8px rgb(255, 102, 0);
   cursor: pointer;
   top: 0;
   transition: all .3s;
}

.btn:hover {
   top: 3px;
   box-shadow: 0 5px rgb(255, 102, 0);   
}

.btn:active {
   top: 8px;
   box-shadow: none;   
}
